#bodyIndex
{
background-color:#CCCCFF;
}
h1
{
color:orange;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:16px;
text-align:justify;
color:black;
}
#bodyPartenariat
{
background-color:#EAEEA6;
}

#bodyApplication
{
background-color:#FFA500;
}

#bodyNoticesUtilisation
{
background-color:#FFB6C1;
}

#bodyLesCreateurs
{
background-color:#ADFF2F;
}

a.button
{

}
